<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image"> <img src="~/Content/images/faces/face4.jpg" alt="image" /> <span class="online-status online"></span> </div>
                <div class="profile-name">
                    <p class="name">Richard V.Welsh</p>
                    <p class="designation">Manager</p>
                </div>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/AdminCategories/Index"><img class="menu-icon" src="~/Content/images/menu_icons/06.png" alt="menu icon"><span class="menu-title">Categories</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/AdminBrands/Index"><img class="menu-icon" src="~/Content/images/menu_icons/02.png" alt="menu icon"><span class="menu-title">Brands</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/AdminProducts/Index"><img class="menu-icon" src="~/Content/images/menu_icons/03.png" alt="menu icon"><span class="menu-title">Products</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/AdminCustomers/Index"><img class="menu-icon" src="~/Content/images/menu_icons/04.png" alt="menu icon"><span class="menu-title">Customers</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/AdminOrders/Index"><img class="menu-icon" src="~/Content/images/menu_icons/05.png" alt="menu icon"><span class="menu-title">List Order Details</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/Reports/Report"><img class="menu-icon" src="~/Content/images/menu_icons/05.png" alt="menu icon"><span class="menu-title"> @Html.ActionLink("List Report","Reports","OrderDeatil")</span></a></li>

        @*<li class="nav-item">
            <div class="collapse" id="general-pages">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html">Blank Page</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html">Login</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html">Register</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html">404</a></li>
                    <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html">500</a></li>
                </ul>
            </div>
        </li>*@

    </ul>
</nav>
