@model IEnumerable<AdminWebSite.Models.Brand>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <h3><i class="fa fa-table"></i> List all brands</h3>
                <p style="text-align:right;">
                    <a href="/AdminBrands/Create/" type="button" class="btn btn-outline-success"><i class="fa fa-plus"> Create New</i></a>
                </p>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BrandName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BrandName)
                                    </td>
                                    <td style="max-width:150px; text-overflow:ellipsis;">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td style="text-align:center;">
                                        <a href="/AdminBrands/Details/@item.BrandID" type="button" class="btn btn-outline-info"><i class="fa fa-vcard-o"></i>Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
